*{
    margin: 0;
}

    body{
        font-family:"Electrolize" ,sans-serif;
  
    }
    .container{
      background-color:black;
      color:white;

    }
 .navbar{

    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    position: sticky;
    top:0;
    z-index: 1;


 }
  .navbar-wrapper{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;


   
  }

  .logo {
    font-size: 30px;
    color: rgb(255, 70, 70);
    cursor: pointer;
    text-transform: uppercase;
    

   }

  .menu-list{
   display: flex;
    list-style: none;
     column-gap: 30px;

  }
  
  .menu-list-item:hover{
    cursor: pointer;
    font-weight: bold;
  }

  .menu-list-item.active{
    font-weight: bold;
  }
  .profile-picture{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
   
  }
   .profile-conteiner{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;

   }
    .profie-text-container{
      display: flex;
      align-items: center;
      column-gap: 5px;
     
  
    }
  .toggle{
    background-color: white;
    width: 40px;
    height: 25px;
   border-radius: 30px;
   display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;


  }

  .toggle-icon{
    color:goldenrod;
    
    
  }
  .toggle-ball{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
    
  }
  .toggle.active {
    background-color: black;
}

 .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    color: white;
     display: flex; 
    flex-direction: column;
    padding-top:60px;
    row-gap: 40px;
    align-items: center;
  position: fixed;
    top:0;

   


 }

 .sidebar-i{
 
  width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    color:white;
    font-size:20px;
 }

  .content-wrapper{
  margin-left: 50px;
  }
  
  
 .featured-content{

       background:url("./img/spiderman.jpg");
       padding:50px;
       height: calc(100vh -160px);
       background-size:100% 100%;



 }
 .featured-title{
  width: 400px;
 }
 
 .featured-buttons{
    display: flex;
   column-gap:20px;


 }

  .featured-buttons button{
  padding:10px 25px;
  border-radius: 2px;
  border:none;
  outline:none;
  cursor:pointer;
  display: flex;
  column-gap:10px ;
  font-size:16px;
  font-weight: bold;

}
.featured-buttons .info-button{
  background-color: rgba(145,142,142,0.5);
  color:white;

}
 .featured-desc{
  width:500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding:10px;
  margin:30px 0;
  color:black
 }
  .img {
    transition: all 0.7s ease-in;
    width: 270px;
    height: 200px;
    object-fit: cover;
}

.movie-list-filter{

   margin:20px 0 20px 50px;
   padding:20px;

}

.movie-list-filter select{
  background-color: black;
  color:white;
  padding: 7px 0;
  width:125px;

}
.movie-list-container{
  margin-left:70px;
}
.movie-list{
  list-style:none;
  padding:0;
  height:300px;
  column-gap:30px;
  display: flex;
  align-items: center;
  

}

.movie-list-wrapper{
  overflow: hidden;
}
.movie-item{
  position: relative;
  
  
}


.movie-item:hover .movie-item-title ,
.movie-item:hover .movie-item-buttons{
  opacity: 1;

}

.movie-item:hover .movie-item-img{
  transform:scale(1.2);
  margin:0 30px;
  opacity: 0.5;
}


.movie-item-img{
  width:270px;
  height:200px;
  object-fit: cover;
   transition:1s all ease-in-out;
}
.movie-item-title{
  background-color:rgba(40,40,40,0.4);
  padding:0 10px;
  font-size:28px;
  font-weight:bold;
  position: absolute;
    top:10%;
    left:50px;
    opacity: 0;
   
}



.movie-item-buttons{
  background-color:rgba(40,40,40,0.4);
  padding:10px ;
  display: flex;
  column-gap:20px;
  font-weight:bold;
  position: absolute;
    bottom:10%;
    left:50px;
 transition:1s all ease-in-out;
    opacity:0;
   
}

.movie-item-buttons i{
 cursor:pointer;
 opacity: 0.5;
 font-size: 20px;
  transition: 0.5s all ease;

}

.movie-item-buttons i:hover{

 opacity: 1;
 

}
/*
.container{
  background-color: white;
  
}

.navbar{
background-color: white;
color:black;
}

.sidebar{
background-color: white;

}
.sidebar i{
  color:black;

} */
  